/* BookList.css */
.book-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding:0 15px;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.book-details {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  align-items: flex-start;
  width: 100%; /* Ensure details take up the full width */
}

.book-details-transition {
  transition: ease-in-out;
}

.book-details img {
  margin-right: 10px;
  /* Adjust as needed to create space between the image and details */
}

.book-details button {
  margin-top: 10px;
}

/* Add this CSS in your stylesheet or inline style */
.book-details-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-publication {
  flex: 1;
  margin-top:10px;
  margin-right: 10px; /* Adjust as needed for spacing */
  border:1px solid rgb(112, 112, 112);
  text-align:center;
}

.book-publication span {
  font-size:13px;
  color:#333;
}
/* Additional styles for better readability */
ul {
  list-style: none;
  padding: 0;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin-right: 5px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  border: 1px solid #ccc;
}

.pagination a:hover {
  background-color: #eee;
}

.active a {
  background-color: #333;
  color: white;
}

/* Carousel for featured Books */
.carousel-container {
  margin-left: 20px;  /* Adjust the left margin as needed */
  margin-right: 20px; /* Adjust the right margin as needed */
}

.cover-image {
  width: 200px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  object-fit: cover; /* Maintain aspect ratio while covering the entire space */
}

.carousel-item {
  /* Add any additional styling for your carousel items */
}
