/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2CD5D;
  padding: 0 15px;
  color: #2A2036;
}

.navbar-title {
  font-size: 1rem;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search input {
  max-width: 300px; /* Adjust the width as needed */
  margin-right: 10px;
  padding: 15px;
  border: 0; /* Add a semicolon here */
}

@media screen and (min-width: 768px) {
  .navbar-search input {
    width: 300px;
    max-width: 300px; /* Adjust the width as needed */
    margin-right: 10px;
    padding: 15px;
    border: 0; /* Add a semicolon here */
  }
}

.navbar-search button {
  padding: 5px 5px;
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
  font-size:20px;
}

/* Navbar.css */
.navbar-list {
  list-style: none;
  padding: 0;
  display: flex; /* Use flexbox for horizontal alignment */
}

.navbar-list li {
  margin-right: 20px; /* Add margin between list items for spacing */
}

.navbar-list li:last-child {
  margin-right: 20px; /* Remove margin for the last list item */
}

.navbar-list a {
  text-decoration: none;
  color: black;
  /* Add additional styling as needed */
}


/* Additional styling adjustments may be needed based on your layout */
